
/* UTILITY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container.align-between-center{
    justify-content: space-between;
    align-items: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

/*---------*/

input {
    all:unset;
}

body {
    font-family: 'Heebo', sans-serif;
    background-color: black;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

main {
    padding: 40px;
}

header {
    background-color: #f58800;
    height: 100px;
    padding: 0 40px 0 40px;
}

input{
    background-color: white;
    padding-left: 10px;
    border-style: none;
}

.searchBar > *{
    height: 30px;
}

.btn {
    background-color: black;
    color: white;
    padding: 5px;
    min-width: 100px;
    text-align: center;
    font-weight: 600;
}

.material-icons {
    width: 14px;
}

.scaleEffect:hover {
    transform: scale(1.1);
    transition: all .4s;
}

.main__line{
    border-bottom: 1px solid #404040;
    padding-top: 20px;
}

.main__title {
    color: #404040;
    margin-bottom: 15px;
}

.contents{
   gap: 10px;
}

.film{
    width: calc( (100% - 40px) / 5 );
    height: 400px;
}

.film__poster{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.film__info{
    color: white;
    position: relative;
    bottom: 40px;
    left: 10px;
}

.film__moreInfo{
    width: 100%;
    height: 400px;

    flex-direction: column;
    justify-content: space-between;

    background-color: black;
    color: white;

    position:absolute;
    bottom: calc(100% - 33px);
    left: -10px;

    border: 3px solid #f58800;
    opacity: 0;

    padding: 10px;
}

.film__moreInfo:hover{
    opacity: 0.9;
}

.film__subtitle{
    font-size: 16px;
}


.film__subtitle img {
    width: 16px;
}

@media all and (max-width: 1080px) {
    .film{
        width: calc( (100% - 20px) / 3 );

    }
}

@media all and (max-width: 768px) {
    .film{
        width: calc( (100% - 10px) / 2 );

    }
}

@media all and (max-width: 375px) {
    .film{
        width: 100%;

    }
}
